* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  display: flex;
}
.header {
  max-width: 1980px; /* Maximum width */
  margin: 0 auto; /* Center it */
}
.header .header-text {
  position: absolute; /* Position the background text */
  top: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(47, 79, 79, 0.5); /* Black background with 0.5 opacity */
  color: #ffffff; /* Grey text */
  width: 100%; /* Full width */
  padding: 20px; /* Some padding */
}
.header-text {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  position: relative;
}
a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  padding: 5px;
}
.links {
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 25px;
}
img {
  max-width: 100%;
  max-height: 100%;
  display: block; /* remove extra space below image */
}
.img2 {
  border-radius: 5px;
}
.video {
  border-radius: 10px;
  border: 3px #000000;
}
.video1 {
  padding: 25px;
  padding-right: 70px;
  overflow: hidden;
  border-radius: 10px;
}
#infoblock {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.infotext1 {
  display: flex;
  flex-direction: column;
  width: 1000px;
  padding: 25px;
  background-color: rgb(255, 255, 255);
}
.infotext2 {
  padding: 25px;
  background-color: rgb(255, 255, 255);
}
#dogs {
  padding: 25px;
  color: #ffffff;
  background-color: darkslategray;
}
#cats {
  padding: 25px;
  color: #000000;
  background-color: rgb(255, 255, 255);
}
#smalls {
  padding: 25px;
  color: #ffffff;
  background-color: darkslategray;
}
.dogs_galerie,
.cat_galerie,
.small_galerie {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.dog_pic {
  padding: 25px;
  height: 500px;
  overflow: hidden;
  border-radius: 10px;
}
.cat_pic {
  padding: 25px;
  height: 500px;
}
.small_pic {
  padding: 25px;
  height: 405px;
}
.text1 {
  padding-top: 10px;
  padding-left: 5px;
}
