* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 50px;
  font-family: "Dancing Script", cursive;
}
h2 {
  font-size: 50px;
  font-family: "Dancing Script", cursive;
}

.header1 {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  padding-top: 75px;
  padding-left: 50px;
  position: absolute;
  width: 100%;
  top: 0;
}

.header2 {
  float: left;
  padding-left: 50px;
  color: #ffffff;
}
.header3 {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
}
.links {
  float: right;
  padding-right: 35px;
}

a {
  color: #ffffff;
  text-decoration: none;
  font-family: "Dancing Script", cursive;
  font-size: 30px;
  padding: 10px;
}
a:hover {
  color: rgb(208, 209, 172);
}

img {
  max-width: 100%;
  max-height: 100%;
  display: block; /* remove extra space below image */
}
.img2 {
  object-fit: cover;
  max-width: 100%;
  border-radius: 5px;
}
.video {
  border-radius: 10px;
  border: 3px #000000;
}
.video1 {
  padding: 25px;
  padding-right: 70px;
  overflow: hidden;
  border-radius: 10px;
}
#infoblock {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 25px;
}
.infotext1 {
  color: darkslategray;
  display: flex;
  flex-direction: column;
  width: 1000px;
  padding: 25px;
  background-color: rgb(255, 255, 255);
}

.kontakt {
  padding-left: 75px;
}
#dogs,
#smalls {
  padding: 35px;
  color: #ffffff;
  background-color: darkslategray;
}
#cats {
  padding: 35px;
  color: darkslategray;
  background-color: rgb(255, 255, 255);
}

.dogs_galerie,
.cat_galerie,
.small_galerie {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 35px;
}
.dog_pic {
  position: relative;
  padding: 25px;
  height: 500px;
  max-width: 100%;
}
.cat_pic {
  position: relative;
  padding: 25px;
  height: 500px;
}
.small_pic {
  position: relative;
  padding: 25px;
  height: 405px;
}
.text1 {
  padding-top: 10px;
  padding-left: 5px;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  max-width: 100%;
  border-radius: 10px;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #000000;
}

.overlay-text {
  display: flex;
  flex-wrap: wrap;
  color: #ffffff;
  padding: 40px;
}
.dog_pic:hover .overlay {
  height: 100%;
  opacity: 0.75;
}
.cat_pic:hover .overlay {
  opacity: 0.75;
}
.small_pic:hover .overlay {
  opacity: 0.75;
}
#bottominfo {
  color: darkslategray;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
}
.googlemap {
  border-radius: 10px;

  border-color: darkslategray;
}
.infotext2 {
  width: 425px;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  height: 50px;
  background-color: darkslategray;
}
